@using MIDIvJoy.Models.DataModels
@using MIDIvJoy.ViewModels

@inject MidiConfigViewModel ViewModel

<Layout Class="app-layout">
    <Menu Class="app-menu" Mode="MenuMode.Inline"
          SelectedKeys="@(new[] { ViewModel.DeviceId })">

        @if (ViewModel.DevicesAvailable.Length == 0)
        {
            <MenuItem Class="app-menu-item" Disabled>
                No Device
            </MenuItem>
        }
        @foreach (var device in ViewModel.DevicesAvailable)
        {
            <MenuItem Class="app-menu-item" Key=@device.Id
                      OnClick="@(_ => ViewModel.SwitchId(device.Id))">
                @device.Name
            </MenuItem>
        }

    </Menu>

    <Layout Class="app-content">
        <Content Class="app-content-item config-container">
            <Breadcrumb Style="margin: 0 0 12px;">
                <BreadcrumbItem>MIDI Device</BreadcrumbItem>
                <BreadcrumbItem>@GetCurrentDeviceName()</BreadcrumbItem>
            </Breadcrumb>

            @if (ViewModel.DevicesAvailable.Length > 0)
            {
                <Divider Orientation="left">Axes (@ViewModel.CommandsAxis.Length)</Divider>
                <GridRow Gutter="(8, 8)" OnBreakpoint="() => StateHasChanged()">

                    @foreach (var command in ViewModel.CommandsAxis)
                    {
                        var isTriggered = command.Id == ViewModel.CommandReceived?.Id;
                        <GridCol Span="8" Md="8" Lg="6" Xxl="3">
                            <Button Style="width: 100%;" Size="small"
                                    Type=@(isTriggered ? "primary" : "default")
                                    OnClick=@(_ => ViewModel.EditBinding(command))>
                                @command.Name
                            </Button>
                        </GridCol>

                        <GridCol Span="12" Md="9" Lg="6" Xxl="3" Class="config-text-right">
                            <span style="padding-right: 8px">
                                @if (command.Action.Axis.Type == ActionTypeAxis.Position)
                                {
                                    var range = command.Event.ValueMax - command.Event.ValueMin;
                                    var value = range * command.Action.Axis.Percent;
                                    @($"({command.Event.ValueMin + value:F0} - {command.Event.ValueMin}) / " +
                                      $"({command.Event.ValueMax} - {command.Event.ValueMin})")
                                }
                                else
                                {
                                    @command.Action.Axis.Type
                                }
                            </span>
                        </GridCol>

                        var pct = command.Action.Axis.Percent * 100;
                        pct = double.Max(.0001, double.Min(99.99, pct));
                        <GridCol Span="0" Md="4" Lg="8" Xxl="3">
                            <Progress Percent="@pct"
                                      Status="@ProgressStatus.Active" ShowInfo="false">
                            </Progress>
                        </GridCol>

                        <GridCol Span="4" Md="3" Lg="2" Xxl="3">
                            <span style="padding-left: 8px">
                                @($"{command.Action.Axis.Percent:P}")
                            </span>
                        </GridCol>
                    }

                </GridRow>

                <Divider Orientation="left">Buttons (@ViewModel.CommandsButton.Length)</Divider>
                <GridRow Gutter="(8, 8)" OnBreakpoint="() => StateHasChanged()">

                    @foreach (var command in ViewModel.CommandsButton)
                    {
                        var isTriggered = command.Id == ViewModel.CommandReceived?.Id;
                        <GridCol Span="8" Md="8" Lg="6" Xxl="3">
                            <Button Style="width: 100%;" Size="small"
                                    Type=@(isTriggered ? "primary" : "default")
                                    OnClick=@(_ => ViewModel.EditBinding(command))>
                                @command.Name
                            </Button>
                        </GridCol>
                    }

                </GridRow>

                <Divider Orientation="left">Unassigned (@ViewModel.CommandsUnbinded.Length)</Divider>
                <GridRow Gutter="(8, 8)">

                    @foreach (var command in ViewModel.CommandsUnbinded)
                    {
                        var isTriggered = command.Key.Equals(ViewModel.CommandReceived?.Key);
                        if (ViewModel.CommandReceived?.Action.Type != ActionType.None) isTriggered = false;
                        <GridCol Span="6" Md="4" Lg="3">
                            <Button Style="width: 100%;" Size="small"
                                    Type=@(isTriggered ? "primary" : "default")
                                    OnClick=@(_ => ViewModel.EditBinding(command))>
                                @command.Name
                            </Button>
                        </GridCol>
                    }

                </GridRow>

                <div style="margin-top: auto; padding-top: 10px;">
                    Click on a MIDI event to bind it to a Joystick action.
                    <br/>
                    All events not binded are listed under the "Unassigned" section.
                    The values are updated to the last received ones.
                </div>
            }
            else
            {
                <div class="config-vcenter-container">
                    <Result Status="warning" Title="No MIDI Controller Available."/>
                </div>
            }

            <Modal Title="@($"Edit: {ViewModel.CommandSelected?.Name}")"
                   Visible="@ViewModel.IsSettingsVisible"
                   Draggable="true" DragInViewport="true"
                   OnOk="@ViewModel.EditBindingSave"
                   OnCancel="@ViewModel.EditBindingCancel"
                   ConfirmLoading="@ViewModel.IsSettingsLoading">

                @if (ViewModel.CommandEditing != null)
                {
                    <Form Model="@ViewModel.CommandEditing"
                          LabelColSpan="6"
                          WrapperColSpan="18"
                          Size="small"
                          Loading="@ViewModel.IsSettingsLoading">

                        <FormItem class="config-form-item" Label="Name">
                            <Input @bind-Value="@context.Name"/>
                        </FormItem>
                        <FormItem class="config-form-item" Label="Command ID">
                            <Input Disabled Value="@context.Id"/>
                        </FormItem>

                        <FormItem class="config-form-item" Label="MIDI Device">
                            <Input Disabled Value="@context.Event.Device"/>
                        </FormItem>
                        <FormItem class="config-form-item" Label="MIDI Event">
                            <Input Disabled Value="@context.Event.Command"/>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Trigger Values">
                            <InputGroup Compact>
                                <Input Type="number" @bind-Value="@context.Event.Value"
                                       min="@context.Event.ValueMin" max="@context.Event.ValueRangeHigh"
                                       Disabled="@(context.Action.Type == ActionType.None)"/>
                                <Input Style="width: 30px; pointer-events: none;" Value="@("~")" Disabled/>
                                <Input Type="number" @bind-Value="@context.Event.ValueRangeHigh"
                                       max="@context.Event.ValueMax" min="@context.Event.Value"
                                       Disabled="@(context.Action.Type == ActionType.None)"/>
                            </InputGroup>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Full Range">
                            <InputGroup Compact>
                                <Input Type="number" @bind-Value="@context.Event.ValueMin"
                                       max="@int.Min(context.Event.ValueMax, context.Event.Value)"
                                       Disabled="@(context.Action.Type == ActionType.None)"/>
                                <Input Style="width: 30px; pointer-events: none;" Value="@("~")" Disabled/>
                                <Input Type="number" @bind-Value="@context.Event.ValueMax"
                                       min="@int.Min(context.Event.ValueMin, context.Event.ValueRangeHigh)"
                                       Disabled="@(context.Action.Type == ActionType.None)"/>
                            </InputGroup>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Action Type">
                            <RadioGroup @bind-Value="@context.Action.Type" Style="display: flex;">
                                @foreach (var type in Enum.GetValues<ActionType>())
                                {
                                    <Radio RadioButton Value="@type"
                                           class="config-text-center">
                                        @type
                                    </Radio>
                                }
                            </RadioGroup>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Joystick Device">
                            <RadioGroup @bind-Value="@context.Action.DeviceId" Style="display: flex;">
                                <AntDesign.InputNumber @bind-Value="@context.Action.DeviceId" Min="1" Max="16"
                                                       class="config-form-inline" Style="width: 60px;"/>

                                @foreach (var id in Enumerable.Range(1, 5))
                                {
                                    <Radio RadioButton Value="@id"
                                           class="config-text-center">
                                        @id
                                    </Radio>
                                }
                            </RadioGroup>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Axis Function">
                            <RadioGroup @bind-Value="@context.Action.Axis.Type" Style="display: flex;">
                                <div class="config-form-inline" style="width: 111px;">
                                    <Select DataSource="@(Enum.GetValues<JoystickAxis>())"
                                            @bind-Value="@context.Action.Axis.Name"
                                            Disabled="@(context.Action.Type != ActionType.Axis)"
                                            EnableSearch>
                                    </Select>
                                </div>

                                @foreach (var type in Enum.GetValues<ActionTypeAxis>())
                                {
                                    <Radio RadioButton Value="@type"
                                           class="config-text-center"
                                           Disabled="@(context.Action.Type != ActionType.Axis)">
                                        @type
                                    </Radio>
                                }
                            </RadioGroup>
                        </FormItem>

                        <FormItem class="config-form-item" Label="Button Number">
                            <RadioGroup @bind-Value="@context.Action.Button.Type" Style="display: flex;">
                                <AntDesign.InputNumber @bind-Value="@context.Action.Button.Number" Min="1"
                                                       class="config-form-inline" Style="width: 60px;"
                                                       Disabled="@(context.Action.Type != ActionType.Button)"/>

                                @foreach (var type in Enum.GetValues<ActionTypeButton>())
                                {
                                    <Radio RadioButton Value="@type"
                                           class="config-text-center"
                                           Disabled="@(context.Action.Type != ActionType.Button)">
                                        @type
                                    </Radio>
                                }
                            </RadioGroup>
                        </FormItem>

                    </Form>
                }
            </Modal>
        </Content>
    </Layout>
</Layout>

@code {

    protected override void OnInitialized()
    {
        ViewModel.OnInitialized();
        ViewModel.StateHasChanged += () => InvokeAsync(StateHasChanged);
    }

    private string GetCurrentDeviceName()
    {
        var device = ViewModel.DevicesAvailable
            .FirstOrDefault(d => d.Id == ViewModel.DeviceId);
        return device.Name ?? "Unknown";
    }

}